html, body{
    height: 100%;
    background-color: #d0d0d0;
}
.navbar-inverse{
    background-color: #428BCA;
    border-color: #63A1D6;
    color: #ffffff;
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.1),4px 0px 15px 0px rgba(0,0,0,0.3);
}

.navbar-inverse .navbar-brand{
    color: #ffffff;
    margin: 0 auto;
    font-width: 900;
    text-align: center;
    width: 100%;
}

.header-container{
    margin-bottom: 100px;
}

.movie-list-container{
    padding: 5px;
}

.movie-list-content{
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: #888888 5px 5px 5px;
}

.movie-list-image-outer-container{
    padding: 5px;
}

.movie-list-image-container{
    height: 175px;
    width: 150px;
}

.movie-list-image{
    height: 175px;
    width: 150px;
    box-shadow: #888888 3px 3px 3px;
}

.movie-rated-container{
    padding: 5px;
    border: 2px solid #888888;
    background-color: #dddddd;
    text-align: center;
    color: #888888;
}

.movie-rating{
    background-image: url("../images/star.png");
    height: 45px;
    width: 45px;
    text-align: center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    color: #000000;
    display: inline-block;
    padding-top: 15px;
}

.movie-rated{
    display: inline-block;
    text-align: center;
    margin: 0px 10px;
    padding: 5px;
    border: 2px solid #888888;
    background-color: #dddddd;
    color: #888888;
}

.movie-detail-container{
    background-color: #ffffff;
    padding: 25px;
    box-shadow: #888888 5px 10px 20px 5px;
}

.movie-detail-body-container{
    margin-top: 0px;

    box-shadow: #888888 0px 0px 20px 0px;
}

.movie-runtime-metascore{
    display: inline-block;
    text-align: center;
    vertical-align: middle; padding: 5px;
}

.movie-detail-trailer{
    padding: 0px;
}

.movie-detail-image{

    box-shadow: #888888 3px 3px 3px;
}